
html{
    scroll-behavior: smooth;
}
/*=================================*/
/*======== Header-Section =========*/
body{
    font-family: 'Roboto', sans-serif;
    background: lightgray;
}
.container{
    background: white;
}
.menu-var{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.header-menu{
    background-color: rgb(235, 103, 80);
    
}
/*====== Menu =====*/
.header-menu ul{
    list-style: none;
}
.header-menu ul li{
    margin: 0 15px;
}
.header-menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
/*=================================*/
/*======== Home-Section =========*/

.home h1{
    font-size: 55px;
    text-transform: uppercase;
    font-weight: bold;
    color: orange;    
    word-spacing: 4px;
}
.home span{
    color: gray;
}
.home p{
    width: 400px;

}
.design{
    color: white;
    background: rgb(111, 177, 12);
    border: 0;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 700;
}
.design img{
    width: 20px;
    margin-right: 5px;
}
/*===========================================*/
/*============== Products ==================*/
.box{
    border: 0;
}
.box > img{
    background: rgb(219, 213, 213);
    border-radius: 15px;
    margin: 20px auto;
    width: 90%;  
}



/*========================================*/
/*============== ABOUT ================*/
.fine{
    display: flex;
    align-items: center;
    width: 350px;
}
.fine h5{
    font-size: 16px;
    color: black;
    font-weight: 800;
}
.fine p{
    font-size: 13px;
    color: rgb(75, 73, 73);
}
.pic img{
    margin-right: 10px;
}
/*==========================================*/
/*=============== FOOTER ===================*/
.wow{
    background: black;
}
.wow{
    color: white;
}
.wow h2{
    margin-bottom: 20px;
    font-style: italic;
}
.media-pic h2{
    margin-top: 40px;
}
.media-pic .okey{
    background: white;
    color: black;
    width: 40px;
    height: 40px;
    font-size: 50px;
    margin: 0 10px;
    padding: 20px;
    border-radius: 50%;
    transition: .5s;   
}
.media-pic .okey:first-child{
    margin-left: 0;
}
.okey{

}
/*=========================================*/
/*================= FORM =================*/
footer input, textarea{
    width: 100%;
    outline-color: black;
    padding: 5px;
}

.fix-up h2{
    text-align: center;
}
.media-pic .okey:hover{
    color: red;
    background: black;
   
}
.copyright h5{
    text-align: center;
    font-size: 12px;
}



/*=========================================*/
/*============== RESPONSIVE ===============*/
@media(max-width:1200px){
    .hmm h1{
        font-size: 50px;
    }
    .hmm p{
        width: 320px;
        }
}
@media(max-width:1000px){
    .hmm h1{
        font-size: 42px;
    }
    .media-pic .okey{
        width: 30px;
        height: 30px;
        margin: 5px;
        font-size: 30px;
    }
}
@media (min-width:768px) and (max-width:992px){
    .product button{            
        padding: 5px;
        font-size: 14px;
        border-radius: 5px;  
    }
    .product h2{
        font-size: 25px;
    }
}   
@media (max-width:850px){
   .header-menu ul li{
       margin: 0 8px;   
   }
   .header-menu ul li a{
    font-size: 18px;
   }
  .context{
      width: 100%;
  }
  .media-pic .okey{    
    font-size: 28px;
    margin: 10px;
}
}

